@model PaginatedList<PetAdoption_Db.Models.Shelter>

@{
    ViewData["Shelter"] = "Shelter";
}
<style>
    body {
        background: #FDF7E4;
    }
    .edit-button{
        max-width: 13px;
        max-height: 13px;
    }
    .details-button{
    max-height:13px;
    max-width:13px;
    }
    .delete-button{
        max-height: 13px;
        max-width: 13px;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(0,0,0);
        background-color: rgb(0,0,0,0.4);
        color: white;
        text-align: center;
    }

    .search {
        border-radius: 20px 0 0 20px;
        border: 1px solid #ccc;
        margin: 0;
        padding: 3px;
        outline: none;
        
    }

    #search_button {
        border-radius: 0 20px 20px 0;
        border: 1px solid #ccc;
        background-color: #007bff;
        color: #fff;
        border-left: none;
        cursor: pointer;
        margin-right: 10px;
        padding: 3px 10px;
       
    }

        #search_button:hover {
            background-color: #0056b3;
        }

    .back_list {
        color: #007bff;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 5px;
        display: inline-block;
        transition: background-color 0.3s, color 0.3s;
    }

        .back_list:hover {
            color: #0056b3;
            text-decoration: underline;
        }

    .par {
        display: flex;
        align-items: center;
    }

    .create_new {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s;
    }
</style>

<h1>Shelter</h1>

<p>
    <a asp-action="Create" class="create_new">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color" id="div">
        <p class="par">
            <input type="text" name="SearchString" value="@ViewData["PetFilter"]" class="search" />
            <input type="submit" value="Search" class="btn btn-default" id="search_button" />
            <a asp-action="Index" class="back_list">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
            </th>
            <th>
                Location
            </th>
            <th>
                Contact
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ShelterId"><img class="edit-button" src="https://www.svgrepo.com/show/146083/pencil-edit-button.svg" alt="Alternate Text" /></a> |
                    <a asp-action="Details" asp-route-id="@item.ShelterId">
                        <img class="details-button" src="https://uxwing.com/wp-content/themes/uxwing/download/file-and-folder-type/paper-icon.png" alt="Alternate Text"/></a> |
                    <a asp-action="Delete" asp-route-id="@item.ShelterId"><img class="delete-button" src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/trash-512.png" alt="Alternate Text" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
    
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
